# 設定ファイル
# ~/.popotter.configとして配置

# 自動分割時のプレフィックス・ポストフィックスの設定

#  CONT_PRE_STR=""
#  CONT_POST_STR=""
#  CONT_*はダブルクオーテーションでくくるのがベター
#  ENABLE_PRE_STR_IN_FIRST_TW=[1,0]
#  ENABLE_PRE_STR_IN_LAST_TW=[1,0]
#  ENABLE_POST_STR_IN_FIRST_TW=[1,0]
#  ENABLE_POST_STR_IN_LAST_TW=[1,0]
#  ENABLE_*は1がTrue、2がFalse
#  ENABLE_*は=の後ろにスペース不可

# 例1
#  CONT_PRE_STR="(続き)"
#  CONT_POST_STR="(続く)"
#  ENABLE_PRE_STR_IN_FIRST_TW=0
#  ENABLE_PRE_STR_IN_LAST_TW=1
#  ENABLE_POST_STR_IN_FIRST_TW=1
#  ENABLE_POST_STR_IN_LAST_TW=0
#  この場合、
#  1ツイート目     「ツイート内容(続く)」
#  2ツイート目以降 「(続き)ツイート内容(続く)」
#  最終ツイート    「(続き)ツイート内容」

# 例2
#  CONT_PRE_STR="({i})"
#  CONT_POST_STR=""
#  ENABLE_PRE_STR_IN_FIRST_TW=1
#  ENABLE_PRE_STR_IN_LAST_TW=1
#  ENABLE_POST_STR_IN_FIRST_TW=0
#  ENABLE_POST_STR_IN_LAST_TW=0
#  この場合、
#  1ツイート目     「(1)ツイート内容」
#  2ツイート目以降 「(n)ツイート内容」

# 例3
#  CONT_PRE_STR=""
#  CONT_POST_STR="({i})"
#  ENABLE_PRE_STR_IN_FIRST_TW=0
#  ENABLE_PRE_STR_IN_LAST_TW=0
#  ENABLE_POST_STR_IN_FIRST_TW=1
#  ENABLE_POST_STR_IN_LAST_TW=1
#  この場合、
#  1ツイート目     「ツイート内容(1)」
#  2ツイート目以降 「ツイート内容(n)」

# 例4
#  CONT_PRE_STR="({prei}の続き)"
#  CONT_POST_STR="({i})"
#  ENABLE_PRE_STR_IN_FIRST_TW=0
#  ENABLE_PRE_STR_IN_LAST_TW=1
#  ENABLE_POST_STR_IN_FIRST_TW=1
#  ENABLE_POST_STR_IN_LAST_TW=1
#  この場合、
#  1ツイート目     「ツイート内容(1)」
#  2ツイート目以降 「(n-1の続き)ツイート内容(n)」
